.form-group{
    background: transparent;
    color: white;
}
#complete {
    background: transparent;
    color: white;
}

#description{
    background: transparent;
    color: white;

}
#name{
    background: transparent;
    color: white;


}