<div class="container">
 
  <div class="row content">
    <div class="col-md-8 ">
      <h2 class="text-center font-weight-bold"> Game of thronesQuotes:</h2>
      <div class="list-group list-group-flush">
        <ul>
          <div class="v" *ngFor='let Quotes of myquotes; let i = index'>
            <h5>{{Quotes.name }} <br>
            </h5>
            <p>-- <em> {{Quotes.description}} </em> </p>
            <p><button class="btn btn-md btn-primary"(click)="voteIncrement(i)"> <i class="thumbs-up"></i> <strong> Upvote</strong></button>{{Quotes.upvote}} <span class="voting"> |</span>
            <button class="btn btn-md btn-danger" (click)="voteDecrement(i)"> <i class="thumbs-down"></i><strong> Downvote</strong>  </button>{{Quotes.downvote}}</p>
          
            
            <button class="btn btn-sm btn-blue-grey" (click)='toggleDetails(i)'>Toggle Details</button><br>
            <app-quotes-detail *ngIf='Quotes.showDescription' [myquotes]='Quotes' (isComplete) = 'deleteQuotes($event,i)'></app-quotes-detail>
          </div>
        </ul>
      </div>

    </div>

    <div class="col-md-4">
        <app-quotes-form (addQuotes)="addNewQuotes($event)"></app-quotes-form>
    </div>
    <!-- <p *ngIf='Quotes.length > 5'>You have too many quotes</p> -->

  </div>


</div>
